.DS_Store
/emacs/.cache
/emacs/.dap-breakpoints
/emacs/.extension
/emacs/.lsp-session*
/emacs/auto-save-list
/emacs/custom.el
/emacs/eln-cache/
/emacs/elpa/
/emacs/eshell
/emacs/history
/emacs/places
/emacs/projectile-bookmarks.eld
/emacs/projectile.cache
/emacs/recentf
/emacs/transient
/emacs/var
/emacs/.extension/
/emacs/projects
/emacs/tramp
/emacs/url
/gcloud/
/go/telemetry
/go/env
/kitty/.kitty.conf.swp
/dlv
/code-server
/flutter
/htop
*.so
.git_local_repo_credentials